.myChallengePage {
  width: 100%;

  & > nav {
    width: 100%;
    padding: 24px 0;
    padding-left: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > h1 {
      margin-bottom: 34px;
      font-size: 30px;
      font-weight: 800;
      text-align: center;
    }

    .hero {
      width: 100%;
      height: 390px;
      margin-bottom: 59px;
      font-size: 150px;
      font-weight: 800;
      line-height: 390px;
      color: white;
      text-align: center;

      // background-image: url('../../assets/pngs/challenge.jpg');
      background-color: grey;
      background-repeat: no-repeat;
      object-fit: cover;
      object-position: center;
    }

    .progress {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      font-weight: 400;

      .leftHour {
        margin-bottom: 5px;
        color: black;
      }

      .leftDay {
        margin-top: 5px;
        margin-bottom: 142px;
        color: #4e4e4e;
      }
    }
  }

  .backIcon {
    width: 20px;
  }
}
