.myChallengePage{
  width: 100%;
  border: 1px solid black;

  & > nav {
    width: 100%;
    padding: 24px 0;
    margin-left: 20px;
  }

  .content{

    & > h1{
      font-size: 30px;
      font-weight: 800;
      text-align: center;
      margin-bottom: 34px;
    }
    
    .hero{
      // background-image: url('../../assets/pngs/challenge.jpg');
      background-color: grey;
      color:white;
      background-repeat: no-repeat;
      text-align: center;
      line-height: 390px;
      object-fit: cover;
      font-size: 150px;
      font-weight: 800;
      object-position: center;
      height: 390px;
      margin-bottom: 59px;
      width: 100%;
    }
    
    .progress{
      //ㄱㄱ 훔 당황당근육맨토스리라차소스타일드컴포넌트.......트라이앵글리코겐 고수다 
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      .hour{
        color: black;
      }

      .progressBar{
        //파란 부분과 회색부분 상관없이 그냥 전부다 회색으로 하는 ...? 일단 다 회색으로 ㄱㄱㄱ
        // flex로 가운데 정렬하려면 부모에서 사용해야됨.....대박
        // color nono color는 폰트컬러 말하는거임 backcolor
        //위아래 마진
        margin: 0 auto; //라?
        width: 300px;
        height: 4px;
        background-color: #535353;
        margin-top: 13px;
        margin-bottom: 13px;
        
        

      }

      .day{
        color: #4E4E4E; 
      }
      
 
    }

    
  }

  
  .backIcon{
    width: 20px;
  }
}
