.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .hotPlace {
    display: flex;
    flex-direction: column;
    margin-top: 41px;

    .map {
      width: 350px;
      height: 280px;
      background-color: gray;
    }

    .titleSmall {
      margin-bottom: 16px;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
    }
  }

  .rank {
    display: flex;
    flex-direction: column;
    margin-top: 34px;

    .title {
      display: flex;
      justify-content: space-between;

      .titleSmall {
        margin-bottom: 16px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
      }

      .buttonWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .divider {
          font-size: 14px;
        }
      }

      .viewTime {
        margin-right: 3px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
      }

      .viewCount {
        margin-left: 3px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
      }
    }
  }
}
