.signupPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > input {
      width: 365px;
      height: 55px;
      padding: 0 22px;
      margin-bottom: 30px;
      background-color: #f0f0f0;
      border-radius: 20px;

      &:not(:last-of-type) {
        margin-bottom: 12px;
      }
    }
  }

  .label {
    width: 365px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .localSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 13px 16px;
    justify-content: space-between;
    width: 288px;

    margin-bottom: 5px;

    & > h1 {
      font-family: "Work Sans";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
      color: aqua;
    }
  }

  .levelSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 13px 16px;
    justify-content: space-between;
    width: 288px;
    margin-bottom: 30px;

    & > h1 {
      font-family: "Work Sans";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
      color: aqua;
    }
  }
}
